# root
/node_modules

# frontend
/frontend/.next
/frontend/node_modules
/frontend/out
/frontend/coverage
/frontend/*.tsbuildinfo
/frontend/.env*

# backend
/backend/node_modules
/backend/.env*

# editor
.vscode

/backend/dist
/backend/.data
/.cursor
/.codex
